@import "../node_modules/materialize-css/sass/materialize.scss";
@import "./video-modal.scss";

$primary-bg: black;
$secondary-bg: white;
$primary-fontColor: white;
$secondary-fontColor: black;
$accent: #f53258;
$primary-overlay: rgba(0, 0, 0, 0.1);
$mobile-nav-overlay: rgba(0, 0, 0, 0.8);
$header-padding: 0.4em 0;

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Heavy.otf");
  font-weight: 700;
}

@mixin container-props {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-bg;
  font-family: "HelveticaNeue", Arial, sans-serif;
}

header {
  background: $primary-bg;
  padding: $header-padding;
  z-index: 2;

  .container-header {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    @include container-props();
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      z-index: 1;
      width: 90%;

      img {
        opacity: 1;
        transition: 0.4s;
        vertical-align: middle;
      }

      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
  }

  nav {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-list {
      list-style-type: none;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
    }

    .nav-item {
      a {
        position: relative;
        color: $primary-fontColor;
        margin: 0 1.5em;
        padding: 0;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 2px;
          width: 0%;
          background: $secondary-bg;
          transition: 0.3s;
        }

        &.active,
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .toggle {
    z-index: 9999;
    position: relative;
    height: 20px;
    width: 20px;
    display: none;
    margin-right: 2em;

    // &.toggle-on {
    //   .hamburger:nth-of-type(1) {
    //     background: $primary-bg;
    //     transform: rotate(-45deg);
    //   }

    //   .hamburger:nth-of-type(2) {
    //     opacity: 0;
    //   }

    //   .hamburger:nth-of-type(3) {
    //     background: $primary-bg;
    //     transform: rotate(45deg);
    //   }
    // }

    .hamburger:nth-of-type(1) {
      position: absolute;
      height: 2px;
      width: 30px;
      background: $primary-fontColor;
      transform-origin: left;
      transform: rotate(0deg);
    }

    .hamburger:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      width: 30px;
      transform-origin: left;
      background: $primary-fontColor;
    }

    .hamburger:nth-of-type(3) {
      position: absolute;
      bottom: -20%;
      left: 0;
      height: 2px;
      width: 30px;
      background: $primary-fontColor;
      transform-origin: left;
      transform: rotate(0deg) translateY(-50%);
    }
  }
}

.main-heading {
  margin-top: 1.5em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

section {
  position: relative;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 90vh;
  overflow: hidden;
  background-image: url("../assets/img/silver-spades-banner.png");
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    background: $primary-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-container {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
    z-index: -100;
  }

  #video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;

  i {
    color: $primary-fontColor;
    font-size: 2rem;
    margin: 0.25em 0;
    opacity: 0;
    transition: color 0.4s ease-in;

    &:hover {
      color: $accent;
    }
  }
}

.btn-accent {
  background: $secondary-bg !important;
  color: $secondary-fontColor;

  &:hover {
    opacity: 0.8;
  }
}

.btn {
  transition: 0.3s;
}

.future__accent {
  -webkit-text-stroke: 2px $primary-fontColor;
  text-stroke: 2px $primary-fontColor;
  -webkit-text-fill-color: black;
  text-fill-color: black;
}

.heading__founded {
  font-size: 0.8rem;
  margin-left: 0.5em;
}

/* Media Queries */

@media all and (max-width: 1024px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    transform-origin: top;
    transform: scaleY(0);
    background: white;

    .nav-item {
      margin: 1.5em 0;

      a {
        color: $secondary-fontColor;
        font-size: 1.5rem;

        &::before {
          background: $primary-bg;
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  .toggle {
    display: block !important;
  }

  nav {
    justify-content: flex-end !important;
  }

  .container-header {
    grid-template-columns: 75% 25% !important;
  }

  .hero {
    height: 50vh;
  }

  .social-icons {
    left: 5%;

    i {
      font-size: 1.8rem;
    }
  }
}

@media all and (max-width: 767px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    transform-origin: top;
    transform: scaleY(0);
    background: white;

    .nav-item {
      margin: 1.5em 0;

      a {
        color: $secondary-fontColor;
        font-size: 1.5rem;

        &::before {
          background: $primary-bg;
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  .toggle {
    display: block !important;
  }

  nav {
    justify-content: flex-end !important;
  }

  .container-header {
    grid-template-columns: 75% 25% !important;
  }

  .hero {
    height: 30vh;
  }

  .social-icons {
    left: 5%;

    i {
      font-size: 1.8rem;
    }
  }
}

/* Video Gallery */

.video-thumb-img {
  &:hover {
    + .video--play-icon {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
}
