@import "../node_modules/materialize-css/sass/materialize.scss";
@import "./video-modal.scss";

/* COLOURS */
$primary-bg: black;
$secondary-bg: white;
$primary-fontColor: white;
$secondary-fontColor: black;
$accent: #f53258;
$primary-overlay: rgba(0, 0, 0, 0.1);
$secondary-overlay: rgba(0, 0, 0, 0.7);
$mobile-nav-overlay: rgba(0, 0, 0, 0.8);

/* HEADER */
:root {
  --header-height: 75px;
}

/* SPACING */
$header-padding: 0.4em 0;

/* BREAKPOINTS */

$mobile: 768px;

/* MIXINS */

@mixin center-element-abs {
  transform: translate(-50%, -50%);
}

@mixin container-props {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* FONTS */

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../assets/fonts/neue/HelveticaNeue-Heavy.otf");
  font-weight: 700;
}

@font-face {
  font-family: "NexaLight";
  src: url("../assets/fonts/nexa/Nexa\ Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Venus Rising";
  src: url("../assets/fonts/venus-rising/venus-rising.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Venus Rising";
}

h1 {
  font-size: 3.5rem !important;
  @media screen and (max-width: $mobile) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.6rem !important;
  @media screen and (max-width: $mobile) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem !important;
  @media screen and (max-width: $mobile) {
    font-size: 1.7rem;
  }
}

p {
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.nexa {
  font-family: "NexaLight";
}

body {
  background: $primary-bg;
  color: $primary-fontColor;
  font-family: "HelveticaNeue", Arial, sans-serif;
}

header {
  background: $primary-bg;
  padding: $header-padding;
  z-index: 2;

  .container-header {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    @include container-props();
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo {
      z-index: 1;
      width: 90%;

      img {
        opacity: 1;
        transition: 0.4s;
        vertical-align: middle;
      }

      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
  }

  nav {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-list {
      list-style-type: none;
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
    }

    .nav-item {
      a {
        position: relative;
        color: $primary-fontColor;
        margin: 0 1.5em;
        padding: 0;

        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          height: 2px;
          width: 0%;
          background: $secondary-bg;
          transition: 0.3s;
        }

        &.active,
        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .toggle {
    z-index: 9999;
    position: relative;
    height: 20px;
    width: 20px;
    display: none;
    margin-right: 2em;

    // &.toggle-on {
    //   .hamburger:nth-of-type(1) {
    //     background: $primary-bg;
    //     transform: rotate(-45deg);
    //   }

    //   .hamburger:nth-of-type(2) {
    //     opacity: 0;
    //   }

    //   .hamburger:nth-of-type(3) {
    //     background: $primary-bg;
    //     transform: rotate(45deg);
    //   }
    // }

    .hamburger:nth-of-type(1) {
      position: absolute;
      height: 2px;
      width: 30px;
      background: $primary-fontColor;
      transform-origin: left;
      transform: rotate(0deg);
    }

    .hamburger:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      width: 30px;
      transform-origin: left;
      background: $primary-fontColor;
    }

    .hamburger:nth-of-type(3) {
      position: absolute;
      bottom: -20%;
      left: 0;
      height: 2px;
      width: 30px;
      background: $primary-fontColor;
      transform-origin: left;
      transform: rotate(0deg) translateY(-50%);
    }
  }
}

.main-heading {
  margin-top: 1.5em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* SECTIONS */

section {
  position: relative;
  padding: 3em 0;

  &.white {
    background: $secondary-bg;

    p,
    span,
    ol,
    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $secondary-fontColor !important;
    }

    a {
      color: $accent;
    }
  }
}

.blog-post-heading {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary-overlay;
    z-index: -1;
  }
}

.welcome {
  border: 2px solid $primary-fontColor;
  border-left-width: 0;
  border-right-width: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/img/welcome-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
  }
}

.about-aze {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url("../assets/img/aze.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }

  &__title {
    font-size: 2rem;
    margin-top: -0.8em;
    letter-spacing: 0.15em;

    @media screen and (max-width: $mobile) {
      font-size: 1.2rem;
      margin-top: -1em;
    }
  }
}

.submit-music {
  padding: 8em 0;
  background: url("../assets/img/submit-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $secondary-overlay;
    z-index: -1;
  }

  &__review {
    font-size: 1.7rem;
    margin-bottom: -1.1em;
    font-style: italic;

    @media screen and (max-width: $mobile) {
      font-size: 1.2rem;
    }
  }

  &__btn {
    background: $secondary-bg;
    color: $secondary-fontColor;
    font-family: "Venus Rising";

    &:hover {
      background: $primary-bg;
      color: $primary-fontColor;
    }
  }
}

.videos-section {
  min-height: 40vh;
  background: url("../assets/img/off-that-thumb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.video-gallery-section {
  padding: 7em 0;
}

/* END OF SECTIONS */

/* FOOTER */

footer {
  position: relative;
  padding: 4em 0 1em 0;
  background: $secondary-bg;
  color: $secondary-fontColor;

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 155px;
    height: 110px;
    transform: translate(-50%, -50%);
    background-image: url("../assets/img/silver-spade-footer-logo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .copyright {
    font-size: 0.9rem;
  }

  .credits {
    margin-bottom: 0;

    a {
      display: inline-block;
      font-weight: bold;
      color: $secondary-fontColor;
      position: relative;

      &:hover {
        &::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $primary-bg;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}

/* END FOOTER */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 90vh;
  overflow: hidden;
  background-image: url("../assets/img/silver-spades-banner.png");
  background-attachment: scroll;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    background: $primary-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-container {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
    z-index: -100;
  }

  #video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include center-element-abs();
  }

  &__logo {
    opacity: 0;
    width: 75%;
    min-width: 440px;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include center-element-abs();
  }

  &__sub-headline {
    opacity: 0;
    font-family: "NexaLight";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    padding-top: 4em;
    text-align: center;
    color: $primary-fontColor;
    font-size: 1.7rem !important;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    @include center-element-abs();

    @media screen and (max-width: $mobile) {
      font-size: 1rem !important;
      padding-top: 2em;
    }
  }
}

.social-icons {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 6;

  i {
    color: $primary-fontColor;
    font-size: 2rem;
    margin: 0.25em 0;
    opacity: 0;
    transition: color 0.4s ease-in;

    &:hover {
      color: $accent;
    }
  }
}

.btn-accent {
  background: $secondary-bg !important;
  color: $secondary-fontColor;

  &:hover {
    opacity: 0.8;
  }
}

.btn {
  transition: 0.3s;
}

/* ACCENTS */

.bold {
  font-family: "Venus Rising";
}

.accent {
  color: $accent;
}

.future__accent {
  -webkit-text-stroke: 2px $primary-fontColor;
  text-stroke: 2px $primary-fontColor;
  -webkit-text-fill-color: $secondary-fontColor;
  text-fill-color: $secondary-fontColor;
}

.heading__founded {
  font-size: 0.8rem;
  margin-left: 0.5em;
}

/* Media Queries */

@media all and (max-width: 1024px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    transform-origin: top;
    transform: scaleY(0);
    background: $secondary-bg;

    .nav-item {
      margin: 1.5em 0;

      a {
        color: $secondary-fontColor;
        font-size: 1.5rem;

        &::before {
          background: $primary-bg;
        }
      }
    }

    .btn {
      font-size: 1.7rem;
      background: $primary-bg !important;
      color: $primary-fontColor;
    }
  }

  h1 {
    font-size: 3rem;
  }

  .toggle {
    display: block !important;
  }

  nav {
    justify-content: flex-end !important;
  }

  .container-header {
    grid-template-columns: 75% 25% !important;
  }

  // .hero {
  //   height: 50vh;
  // }

  .social-icons {
    left: 5%;

    i {
      font-size: 1.8rem;
    }
  }
}

@media all and (max-width: 767px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center !important;
    transform-origin: top;
    transform: scaleY(0);
    background: $secondary-bg;

    .nav-item {
      margin: 1.5em 0;

      a {
        color: $secondary-fontColor;
        font-size: 1.5rem;

        &::before {
          background: $primary-bg;
        }
      }
    }
  }

  h1 {
    font-size: 3rem;
  }

  .toggle {
    display: block !important;
  }

  nav {
    justify-content: flex-end !important;
  }

  .container-header {
    grid-template-columns: 75% 25% !important;
  }

  // .hero {
  //   height: 30vh;
  // }

  .social-icons {
    left: 5%;

    i {
      font-size: 1.8rem;
    }
  }
}

/* Video Gallery */

.video-thumb-img {
  &:hover {
    + .video--play-icon {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
}

.video-item {
  $video-margin: 0.7em;
  margin: $video-margin 0;

  &__description {
    color: $primary-fontColor;

    h3 {
      font-size: 2.2rem;

      @media screen and (max-width: $mobile) {
        font-size: 1.5rem;
      }
    }
  }
}

/* CUSTOM BUTTONS */

.view-more-btn {
  font-family: "Venus Rising";
  font-size: 1.5rem;
  color: white;
  text-align: center;
  display: inline-block;
  width: auto;
  margin: 2em auto;

  @media screen and (max-width: $mobile) {
    font-size: 1rem;
  }

  &:hover {
    i {
      margin-left: 20px;
    }
  }

  i {
    font-size: 2rem;
    margin: 0 0.2em;
    transition: margin-left 0.3s ease-in-out;
  }
}

/* INPUTS AND LABELS */

#email {
  position: relative;
  + label {
    transition: all 0.3s;
  }
}

#email:focus {
  border-bottom-color: $accent;
  box-shadow: 0 1px 0 0 $accent;

  + label {
    color: $accent;
    transform: translateY(-20px);
  }
}

.newsletter-form {
  &__submit {
    position: absolute;
    background: none;
    border: none;
    bottom: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
  }
}

/* END INPUTS AND LABELS */

/* HELPERS */

.align-vertical {
  &--middle {
    vertical-align: middle;
  }
}
