$primary-bg: black;
$secondary-bg: white;
$primary-fontColor: white;
$primary-overlay: rgba(0, 0, 0, 0.4);
$mobile-nav-overlay: rgba(0, 0, 0, 0.8);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $primary-bg;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  z-index: 2;
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  background: $primary-bg;

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      width: 400px;
      z-index: 1;

      img {
        opacity: 1;
        transition: opacity 0.4s;
      }

      &:hover {
        img {
          opacity: 0.5;
        }
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-list {
      list-style-type: none;
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      z-index: 1;
    }

    .nav-item {
      a {
        color: $primary-fontColor;
      }
    }
  }

  .toggle {
    z-index: 9999;
    position: relative;
    height: 20px;
    display: none;
    margin-right: 2em;

    .hamburger {
      height: 2px;
      width: 30px;
      background: $primary-fontColor;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 30px;
        background: $primary-fontColor;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        height: 2px;
        width: 30px;
        transform: translateY(50%);
        background: $primary-fontColor;
      }
    }
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 70vh;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    background: $primary-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
  video {
    display: block;
  }
  .video-container {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
  }
}

.social-icons {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  i {
    color: $primary-fontColor;
    font-size: 2rem;
    margin: 0 0.5em;
  }
}

/* Media Queries */

@media only screen and (max-width: 767px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    background: black;
    transition: all 0.8s;

    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: visible;
      transform: translateY(0);
    }
  }

  .toggle {
    display: block !important;
  }

  nav {
    justify-content: flex-end !important;
  }
}
